---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Ruan Blotta</h1>
			<p>
				Bem vindos ao meu blog. Aqui tornarei público a minha trilha de estudos na área de desenvolvimento.
			</p>
			<p>
				Sou aluno do projeto social PCDDevs. 
			</p>
			<p>Aqui estão as tecnologias que estou estudando:</p>
			<ul>
				<li>HTML/CSS</li>
				<li>Javascript</code></li>
				<li>C/C#</code></li>
				<li>Banco de Dados SQL</code></li>
				<li>Python</code></li>
			</ul>
			<p>
				Você pode obter mais informações a meu respeito acessando o meu <a href="https://www.linkedin.com/in/ruanblotta/" >Linkedin.</a>
			</p>
			<p>
				Caso queira consultar meus repositórios e verificar como estou me saindo, acesse o meu <a
					href="https://github.com/ruanblotta" >Github.</a>
					
				
			</p>
		</main>
		<Footer />
	</body>
</html>
